.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  background-color: pink;
}

.navbar > a {
  color: white;
  width: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar > .active {
  color: black;
}
