.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;

  margin-top: 30px;
  border-bottom: 3px solid lightseagreen;

  a {
    color: black;
    font-weight: 700;
    width: 50px;
    text-decoration: none;
    text-transform: uppercase;

    .active {
      font-family: "Playfair Display", serif;
    }
  }
}
