.app {
  margin: 0 100px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;

  margin-top: 30px;
  border-bottom: 3px solid #ffcc00;

  a {
    color: black;
    font-weight: 700;
    width: 50px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .active {
    font-family: "Playfair Display", serif;
  }
}

.blog {
  max-width: 900px;

  &__preview {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 1em;
    max-height: 100px;
    overflow: hidden;

    a {
      margin: 0;
      font-family: "Playfair Display", serif;
      color: black;
      font-size: 22px;
      text-decoration: none;
    }
  }
}

.article {
  h1 {
    color: blue;
  }
}
